In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # basic plotting
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
import pickle

%matplotlib inline 
import joblib

In [16]:
#TBD
encodedf = pd.read_csv('df_nodummies.csv')

In [17]:
X = encodedf.loc[:, encodedf.columns != 'price']
y = encodedf.price
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((17101, 11), (17101,), (4276, 11), (4276,))

In [18]:
scaler = MinMaxScaler()
scaler.fit(X_train)

MinMaxScaler()

In [19]:
scaled_X_train = scaler.transform(X_train)
scaled_X_test = scaler.transform(X_test)

In [20]:
model = MLPRegressor(solver='lbfgs', alpha=0.0001, max_iter=10000, random_state=0, max_fun=15000)
hyperparameters = {'hidden_layer_sizes': [ (1,),(3,),(5,), (7,)], 'activation': ['logistic', 'tanh', 'relu']}

In [21]:
#TBD
gridSearchCV = GridSearchCV(model,
                            param_grid= hyperparameters,
                            refit=True,
                            cv=4,
                            return_train_score=True, verbose=1)

gridSearchCV.fit(scaled_X_train, y_train)

Fitting 4 folds for each of 12 candidates, totalling 48 fits

C:\Users\utilisateur\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

GridSearchCV(cv=4,
             estimator=MLPRegressor(max_iter=10000, random_state=0,
                                    solver='lbfgs'),
             param_grid={'activation': ['logistic', 'tanh', 'relu'],
                         'hidden_layer_sizes': [(1,), (3,), (5,), (7,)]},
             return_train_score=True, verbose=1)

In [22]:
gridSearchCV.best_params_

{'activation': 'relu', 'hidden_layer_sizes': (3,)}

In [23]:
y_predict_train = gridSearchCV.best_estimator_.predict(scaled_X_train)

In [24]:
R_squared_train = 1.0 - (np.sum((y_train - y_predict_train)**2) / np.sum((y_train - np.mean(y_train))**2))

In [30]:
print("Le coefficient de détermination sur le train/  R2 vaut :", R_squared_train.round(4))

Le coefficient de détermination sur le train/  R2 vaut : 0.726

In [31]:
y_predict_test = gridSearchCV.best_estimator_.predict(scaled_X_test)

In [32]:
R_squared_test = 1.0 - (np.sum((y_test - y_predict_test)**2) / np.sum((y_test - np.mean(y_test))**2))

In [33]:
print("Le coefficient de détermination sur le test /R2 vaut :", R_squared_test.round(4))

Le coefficient de détermination sur le test /R2 vaut : 0.7133

In [36]:
# Dictionary of best parameters
best_pars = gridSearchCV.best_params_
# Best XGB model that was found based on the metric score you specify
best_model = gridSearchCV.best_estimator_
# Save model
pickle.dump(gridSearchCV.best_estimator_, open("model_no_dummies.pkl", "wb"))

In [54]:
print(best_model.predict([[3,1,1, 6, -122.393, 47.5112, 16, 2015, 1600, 0, 2]]))

[1.3379448e+09]

In [44]:
scaled_X_test.shape

(4276, 11)

In [46]:
feature = [890, 40, 1, 1, 1, 2014, 98001, 4, 1, 47, -122]

In [53]:
liste = np.array(feature).reshape(1, -1,)
liste

array([[  890,    40,     1,     1,     1,  2014, 98001,     4,     1,
           47,  -122]])

In [49]:
encodedf

,price,bedrooms,bathrooms,floors,grade,long,lat,zipcode,year,sqft_above,view,HouseAgeGroup
0,221900.0,3,1.0,1.0,7,-122.257,47.5112,66,2014,1180,0.0,3
1,538000.0,3,2.0,2.0,7,-122.319,47.7210,55,2014,2170,0.0,3
2,180000.0,2,1.0,1.0,6,-122.233,47.7379,16,2015,770,0.0,4
3,604000.0,4,3.0,1.0,7,-122.393,47.5208,58,2014,1050,0.0,3
4,510000.0,3,2.0,1.0,8,-122.045,47.6168,37,2015,1680,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
21372,360000.0,3,2.0,3.0,8,-122.346,47.6993,42,2014,1530,0.0,1
21373,400000.0,4,2.0,2.0,8,-122.362,47.5107,60,2015,2310,0.0,1
21374,402101.0,2,1.0,2.0,7,-122.299,47.5944,59,2014,1020,0.0,1
21375,400000.0,3,2.0,2.0,8,-122.069,47.5345,15,2015,1600,0.0,1
21376,325000.0,2,1.0,2.0,7,-122.299,47.5941,59,2014,1020,0.0,1

In [51]:
encodedf.HouseAgeGroup.unique()

array([3, 4, 2, 1], dtype=int64)